.home-container {
  margin: 8px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.hospital-grid {
  display: grid;
  
  padding:0 50px;

  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin-top: 36px;

  
}

@media (min-width: 640px) {
  .hospital-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .hospital-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .hospital-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .hospital-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.hospital-card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  margin-top: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.hospital-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.hospital-content {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hospital-name {
  color: #15803d;
  font-weight: 600;
  text-decoration: none;
}

.hospital-name:hover {
  text-decoration: underline;
}

.hospital-address {
  font-size: 14px;
  color: #4b5563;
  margin-top: 4px;
}

.hospital-distance {
  color: #16a34a;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px 12px;
}
