.reminder-container {
    padding: 40px 8%;
    background: #0a192f;
    min-height: 100vh;
    color: white;
  }
  
  .reminder-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .add-btn {
    /* background: #64ffda; */
    background-color: #1D4ED8;
    color: #eeeff2;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .add-btn:hover { transform: scale(1.05); }
  
  .schedule-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
  }
  
  .time-slot {
    background: rgba(255, 255, 255, 0.03);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .time-slot h3 {
    margin-bottom: 20px;
    color: #64ffda;
    border-bottom: 1px solid rgba(100, 255, 218, 0.2);
    padding-bottom: 10px;
  }
  
  .med-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    transition: 0.3s;
  }
  
  .med-card.completed {
    opacity: 0.6;
    border-left: 4px solid #4caf50;
  }
  
  .med-info h4 { margin: 0; font-size: 1.1rem; }
  .med-info p { margin: 5px 0 0; color: #8892b0; font-size: 0.9rem; }
  
  .mark-btn {
    background: transparent;
    border: 1px solid #64ffda;
    color: #64ffda;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
  }
  
  .mark-btn.taken {
    background: #4caf50;
    border-color: #4caf50;
    color: white;
  }
  
  /* Modal Styling */
  .modal-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex; justify-content: center; align-items: center;
    z-index: 100;
  }
  
  .modal {
    background: #112240;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
  }
  
  .modal input, .modal select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #0a192f;
    border: 1px solid #233554;
    color: white;
    border-radius: 5px;
  }
  
  .modal-actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .save-btn { flex: 2; background: #09dd2d; color: white; font-size: large; border: none; padding: 10px; border-radius: 5px; cursor: pointer; font-weight: bold;}
  .cancel-btn { flex: 1; background: #ff4e4e; color: white; font-size: large; border: none; padding: 10px; border-radius: 5px; cursor: pointer;}

.back-button {
  margin-bottom: 16px;
  background: transparent;
  border: none;
  color: #64ffda;
  cursor: pointer;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}